<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YTContent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iOS10NotificationDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B3FE75051E5AB34C009CBBDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3FE751E1E5AB34C009CBBDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3FE75291E5AB34C009CBBDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3FE754B1E5B3762009CBBDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
